<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/default.css">
	<title>Noblog</title>
</head>
<body>

	<div id="main">
		<h1>noblog</h1>
	</div>

	<script src='/lodash/dist/lodash.min.js' type="text/javascript"></script>
	<script src='/main.js' type="text/javascript"></script>
</body>
</html>