<!DOCTYPE html>
<html>
<head>
	<title><%= conf.blog_title %></title>
</head>
<body>

	<div id="main">
		<h1><%= conf.blog_title %></h1>

		<div>
			admin bar
			<input class="new_post" type="button" value='new post'>
		</div>
	</div>

	<script data-main='/main.js' src='/assets/requirejs/require.js'></script>
</body>
</html>